apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets-controller
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: sealed-secrets

  source:
    repoURL: https://bitnami-labs.github.io/sealed-secrets
    targetRevision: 2.18.1
    chart: sealed-secrets

    helm:
      valuesObject:
        resources:
          limits:
            cpu: 100m
            memory: 256Mi

  destination:
    namespace: {{ .Values.sealedSecrets.namespace }}
    server: https://kubernetes.default.svc

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
