apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ddclient
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: ddclient

  sources:
    - repoURL: {{ .Values.repository.homelab.url }}
      targetRevision: {{ .Values.repository.homelab.targetRevision }}
      path: argo/ddclient
      ref: repository

    - repoURL: https://charts.d3adb5.net
      chart: ddclient
      targetRevision: 0.2.0
      helm:
        valueFiles:
          - $repository/argo/ddclient/values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.ddclient.namespace }}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
